{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    {% include 'base.html' %}
    <img src="{% static 'images/studio.jpg' %}" style="width: 200px; height: 200px;">


    <br>
    <br>
    <h2>This is the index page</h2>
    <a href="{% url 'create_task' %}" >view tasks</a>
    <br>
    <a href="{% url 'view-task' %}">created</a>

    <script src="{% static 'js/app.js' %}"></script>

    
</body>
</html>


